{% extends "home/layout.html" %}
<!--title-->
{% block title %} About Us - Earneasymoney {% endblock title %}
<!---->
{% block banner %}

<!-- Start Banner Area -->
<div class="banner-area banner-bg-4 ptb-120 bg-opacity-black-40">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <div class="banner">
          <h2>About Us</h2>
          <ul class="page-title-link">
            <li><a href="/">Home</a></li>
            <li><a href="#">About Us</a></li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- End Banner Area -->
{% endblock banner %} {% block content %}
<!-- Start Main Content Wrapper -->
<div class="main-content-wrapper">
  <!-- Start About Text Section -->
  <div class="content-section-area ptb-100 bg-service">
    <div class="container">
      <div class="row">
        <div class="service-wrapper">
          <div class="col-md-6">
            <div class="service-thumb">
              <img
                src="/assets/home/images/certi.jpeg"
                class="img-responsive center-block"
                alt=""
              />
            </div>
          </div>
          <div class="col-md-6">
            <div class="service-text">
              <h3>More <span>About</span> us</h3>
              <p>
                Earneasymoney.com is an advanced investment platform based in
                Jurong, Singapore. It was established February 2018. We are
                strictly into trading, mining with lots of investment and assets
                in paid adverts, HYIPs, ICOs, Forex also buying signals from big
                exchanges.
              </p>
              <p>
                Earneasymoney.com vision is to build a strong alliance and
                everlasting partnership with our investors; also leading them to
                financial Independence.
              </p>
              <p>
                Our software system was developed to give our investors around
                the world a profit with varying ROI depending on the amount of
                funds invested.
              </p>
              <p>
                All associates join via the easy and affordable link
                registration which will establish a powerful international
                alliance for world trade.
              </p>
              <p>
                All investors from any country will share business ideas and the
                most important part of it, in a certain way, the profits will be
                directly distributed to allEarneasymoney.com associates
                worldwide.
              </p>
              <ul class="point-out">
                <li>
                  <a href="#"
                    ><i class="fa fa-check"></i> You get 10% from any deposit
                    made by your direct referral.
                  </a>
                </li>
              </ul>
              <ul class="team-social-bookmarkas">
                <li>
                  <a href="#"><i class="ti-facebook"></i></a>
                </li>
                <li>
                  <a href="#"><i class="ti-twitter"></i></a>
                </li>
                <li>
                  <a href="#"><i class="ti-linkedin"></i></a>
                </li>
                <li>
                  <a href="#"><i class="ti-google"></i></a>
                </li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- Start Services Section -->
  <div id="service" class="content-section-area ptb-80 gray-bg">
    <div class="container">
      <div class="row">
        <div class="col-md-8 col-sm-8 col-md-offset-2 col-sm-offset-2">
          <div class="main-heading-content text-center">
            <h2>How <span>it</span> Works</h2>
            <p>
              Here are 3 Easy Steps to start Investing. We have design a very
              user friendly bot to get you investing and making some good
              returns for yourself. Read through the lines below.
            </p>
          </div>
        </div>
      </div>
      <div class="row text-center">
        <div class="col-md-4 col-sm-6">
          <div class="service-item">
            <div class="service-icon">
              <img src="/assets/home/img/icons/6.png" alt="" />
            </div>
            <h3>Create Account</h3>
            <p>The first step is to create a quick account within minutes.</p>
          </div>
        </div>
        <div class="col-md-4 col-sm-6">
          <div class="service-item">
            <div class="service-icon">
              <img src="/assets/home/img/icons/7.png" alt="" />
            </div>
            <h3>Make Investment</h3>
            <p>
              Simple initiate an investment to continue. This is a quick
              process.
            </p>
          </div>
        </div>
        <div class="col-md-4 col-sm-6">
          <div class="service-item">
            <div class="service-icon">
              <img src="/assets/home/img/icons/8.png" alt="" />
            </div>
            <h3>Make Profits</h3>
            <p>You will watch your profits start growing rapidly.</p>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- End Services Section -->
  <!-- Start Counter Section -->
  <div
    class="stats-area stats-style-three text-center bg-2 bg-opacity-black-40 clearfix"
  >
    <div class="single-stats-item">
      <div class="stats-item-heading">
        <i class="fa fa-life-ring" aria-hidden="true"></i>
        <h4>Support Countries</h4>
      </div>
      <span class="counter">52</span>
    </div>
    <div class="single-stats-item">
      <div class="stats-item-heading">
        <i class="fa fa-hourglass-half" aria-hidden="true"></i>
        <h4>Running Days</h4>
      </div>
      <span class="counter">2693</span>
    </div>
    <div class="single-stats-item">
      <div class="stats-item-heading">
        <i class="fa fa-server" aria-hidden="true"></i>
        <h4>Servers</h4>
      </div>
      <span class="counter">15</span>
    </div>
    <div class="single-stats-item">
      <div class="stats-item-heading">
        <i class="fa fa-sitemap" aria-hidden="true"></i>
        <h4>Traders</h4>
      </div>
      <span class="counter">87</span>
    </div>
  </div>
  <!-- End Counter Section -->

  <!-- Start Client Section -->
  <div class="content-section-area ptb-80 gray-bg">
    <div class="container">
      <div class="row">
        <div class="client-wrapper">
          <div class="col-md-2">
            <div class="clirnt-item">
              <a href="#"
                ><img src="/assets/home/img/client/logo2.png" alt=""
              /></a>
            </div>
          </div>
          <div class="col-md-2">
            <div class="clirnt-item">
              <a href="#"
                ><img src="/assets/home/img/client/logo3.png" alt=""
              /></a>
            </div>
          </div>
          <div class="col-md-2">
            <div class="clirnt-item">
              <a href="#"
                ><img src="/assets/home/img/client/logo6.jpg" alt=""
              /></a>
            </div>
          </div>
          <div class="col-md-2">
            <div class="clirnt-item">
              <a href="#"
                ><img src="/assets/home/img/client/logo2.png" alt=""
              /></a>
            </div>
          </div>
          <div class="col-md-2">
            <div class="clirnt-item">
              <a href="#"
                ><img src="/assets/home/img/client/logo3.jpg" alt=""
              /></a>
            </div>
          </div>
          <div class="col-md-2">
            <div class="clirnt-item">
              <a href="#"
                ><img src="/assets/home/img/client/logo6.jpg" alt=""
              /></a>
            </div>
          </div>
          <div class="col-md-2">
            <div class="clirnt-item">
              <a href="#"
                ><img src="/assets/home/img/client/logo2.png" alt=""
              /></a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- end Client Section -->
</div>

{% endblock content %}
