{% extends "home/layout.html" %}
<!--title-->
{% block title %} Welcome To Earneasymoney {% endblock title %}
<!----->
{% block banner %}
<!-- Start Slider Area -->
<div id="home" class="homepage-three-slider">
  <div class="main-wrapper-two">
    <div class="slider-wrapper owl-carousel">
      <div
        class="slider-item home-three-slider-item slider-item-four slider-bg-five"
      >
        <div class="container">
          <div class="row">
            <div class="slider-content-area">
              <div class="slide-text">
                <h1 class="homepage-three-title">
                  <span>Invest in</span> <br />Cryptocurrency
                </h1>
                <h2>Your journey to the crypto world starts right here.</h2>
                <div class="slider-content-btn">
                  <a
                    class="button button-color active"
                    href="indexc30b.html?a=login"
                    >Login</a
                  >
                  <a
                    class="button button-transparent slide-right"
                    href="indexcca3.html?a=signup"
                    >Sign Up Now</a
                  >
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div
        class="slider-item home-three-slider-item slider-item-four slider-bg-two"
      >
        <div class="container">
          <div class="row">
            <div class="slider-content-area">
              <div class="slide-text slide-text-center">
                <h1 class="homepage-three-title">
                  <span>Easy Way to</span> <br />Invest in Crypto
                </h1>
                <h2>
                  Take the opportunities our system provide to make good returns
                  from cryptocurrency.
                </h2>
                <div class="slider-content-btn">
                  <a
                    class="button button-color active"
                    href="indexc30b.html?a=login"
                    >Login</a
                  >
                  <a
                    class="button button-transparent slide-right"
                    href="indexcca3.html?a=signup"
                    >Sign Up Now</a
                  >
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- End Slider Area -->

{% endblock banner %} {% block content %}
<!-- Start Main Content Wrapper -->
<div class="main-content-wrapper">
  <div id="about" class="content-section-area ptb-80">
    <div class="container">
      <div class="row">
        <div class="col-md-6">
          <div class="sell-section-left">
            <h2>Little About <span>Earneasymoney.net</span></h2>
            <h3>The best place to invest your coin today.</h3>
            <p>
              Earneasymoney.net is an advanced investment platform located in
              130 Boroughbridge Road, Birmingham, B4 3BW, UK. It was established
              February 2016. We are strictly into trading(cryptocurrency),
              mining with lots of investment and assets in paid adverts,we
              additionally trade on the Forex and stock Exchange market.We make
              sure our speculators assets are properly utilized to ensure
              profitable returns.
            </p>
            <p>
              Earneasymoney.net vision is to build a strong alliance and
              everlasting partnership with our investors; also leading them to
              financial Independence.
            </p>
            <a
              href="index7b87.html?a=cust&amp;page=about-us"
              class="button active"
              >Read More</a
            >
          </div>
        </div>
        <div class="col-md-6">
          <div class="sell-section-right">
            <div class="sell-img">
              <img src="/assets/home/img/about/admin.png" alt="" />
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- Start About Skill area -->
  <!-- Start Feature Area -->
  <div id="feature" class="content-section-area ptb-80 gray-bg wave-background">
    <div class="container">
      <div class="row">
        <div class="col-md-8 col-sm-8 col-md-offset-2 col-sm-offset-2">
          <div class="main-heading-content text-center">
            <h2>Why Choose <span>Earneasymoney.net</span> ?</h2>
            <p>
              Earneasymoney.net is a trading platform that pays his investors
              with huge interest for trusting us. We trade and help you get to
              financial Independence.
            </p>
          </div>
        </div>
      </div>
      <!--End Feature Wrapper -->
      <div class="row text-center use-z-index">
        <div class="col-md-4 col-sm-6">
          <div class="feature-item">
            <div class="feature-icon">
              <img src="/assets/home/img/icons/1.png" alt="" />
            </div>
            <div class="feature-text">
              <h3>Safe and Secure</h3>
              <p>
                We run all our tradings on fast and highly secured servers
                located in Us and the UK. These servers have the best security
                architecture
              </p>
            </div>
          </div>
        </div>
        <div class="col-md-4 col-sm-6">
          <div class="feature-item feature-p">
            <div class="feature-icon">
              <img src="/assets/home/img/icons/2.png" alt="" />
            </div>
            <div class="feature-text">
              <h3>Experts Support</h3>
              <p>
                We boast of very standard customer care that can be found no
                where else on the globe. They are on desk 247 to respond to
                investors
              </p>
            </div>
          </div>
        </div>
        <div class="col-md-4 col-sm-6">
          <div class="feature-item">
            <div class="feature-icon">
              <img src="/assets/home/img/icons/3.png" alt="" />
            </div>
            <div class="feature-text">
              <h3>Cross Platform</h3>
              <p>
                We provide our investors with multiple investment channels. You
                can access our investment platform from any device that can
                access the internet
              </p>
            </div>
          </div>
        </div>
        <div class="col-md-4 col-sm-6">
          <div class="feature-item">
            <div class="feature-icon">
              <img src="/assets/home/img/icons/4.png" alt="" />
            </div>
            <div class="feature-text">
              <h3>Instant Benefits</h3>
              <p>
                You do not need to wait forever before you can start seeing
                returns on your investments. Everything happens instantly; no
                delays, no stories.
              </p>
            </div>
          </div>
        </div>
        <div class="col-md-4 col-sm-6">
          <div class="feature-item">
            <div class="feature-icon">
              <img src="/assets/home/img/icons/5.png" alt="" />
            </div>
            <div class="feature-text">
              <h3>Secure Wallet</h3>
              <p>
                The wallets we use for our trading have been tested and proven
                to be the very best you can get any time any where. Gives you a
                sense of security
              </p>
            </div>
          </div>
        </div>
        <div class="col-md-4 col-sm-6">
          <div class="feature-item">
            <div class="feature-icon">
              <img src="/assets/home/img/icons/6.png" alt="" />
            </div>
            <div class="feature-text">
              <h3>Recuring Profits</h3>
              <p>
                The aim of our system is to give investors financial
                breakthrough. This is achieved through our carefully crafted
                system of trading
              </p>
            </div>
          </div>
        </div>
      </div>
      <!-- End portfolio Wrapper -->
    </div>
  </div>
  <!-- Start Video area -->
  <div
    class="content-section-area bg-7 bg-opacity-black-60 text-center"
    data-stellar-background-ratio="0.3"
  >
    <div class="container" style="padding-bottom: 0px">
      <div class="row" style="padding-bottom: 0px">
        <div class="col-md-2 hidden-sm hidden-xs">
          <img
            src="/assets/home/img/team/badge.png"
            style="max-height: 250px"
            class=""
          />
        </div>
        <div class="col-md-2 hidden-lg hidden-md">
          <img
            src="/assets/home/img/team/badge2.png"
            style="max-height: 250px"
            class=""
          />
        </div>
        <div class="col-md-8" style="padding-top: 70px">
          <div class="stats-item-heading">
            <h4>
              We run a programe that allow our members to earn as much as 20%
              profit for each active referral on their first deposit, kindly
              contact our suppport for more info
            </h4>
          </div>
          <div class="play-button mt-20">
            <a
              href="indexc30b.html?a=login"
              class="button button-color button-transparent active"
              >GET STARTED</a
            >
          </div>
        </div>
        <div class="col-md-2">
          <img
            src="/assets/home/img/team/2.png"
            style="max-height: 250px"
            class=""
          />
        </div>
      </div>
    </div>
  </div>
  <!-- End Video area -->
  <!-- Start Services Section -->
  <div id="service" class="content-section-area ptb-80 gray-bg">
    <div class="container">
      <div class="row">
        <div class="col-md-8 col-sm-8 col-md-offset-2 col-sm-offset-2">
          <div class="main-heading-content text-center">
            <h2>How <span>it</span> Works</h2>
            <p>
              Here are 3 Easy Steps to start Investing. We have designed a very
              user friendly Investment platform to get you investing and making
              some good returns for yourself. Read through the lines below.
            </p>
          </div>
        </div>
      </div>
      <div class="row text-center">
        <div class="col-md-4 col-sm-6">
          <div class="service-item">
            <div class="service-icon">
              <img src="/assets/home/img/icons/6.png" alt="" />
            </div>
            <h3>Create Account</h3>
            <p>The first step is to create a quick account within minutes.</p>
          </div>
        </div>
        <div class="col-md-4 col-sm-6">
          <div class="service-item">
            <div class="service-icon">
              <img src="/assets/home/img/icons/7.png" alt="" />
            </div>
            <h3>Make Investment</h3>
            <p>
              Simple initiate an investment to continue. This is a quick
              process.
            </p>
          </div>
        </div>
        <div class="col-md-4 col-sm-6">
          <div class="service-item">
            <div class="service-icon">
              <img src="/assets/home/img/icons/8.png" alt="" />
            </div>
            <h3>Make Profits</h3>
            <p>You will watch your profits start growing rapidly.</p>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- End Services Section -->
  <!-- Start Bitcoin Price statistic -->
  <div
    id="bitcoin-price"
    class="content-section-area ptb-80 wave-background-two"
  >
    <div class="container">
      <div class="row">
        <div class="col-md-8 col-sm-8 col-md-offset-2 col-sm-offset-2">
          <div class="main-heading-content text-center">
            <h2>BITCOIN LIVE <span>PRICE</span> TABLES</h2>
            <p>
              Bitcoin remains the most popular cryptocurrency in the world at
              the moment.
            </p>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-md-10 col-sm-10 col-md-offset-1 col-sm-offset-1">
          <div class="bitcoin-price col-sm-8">
            <div class="btcwdgt-chart" bw-theme="light"></div>
          </div>
          <div class="live-price-right col-sm-4">
            <div class="price-item-live">
              <div class="btcwdgt-price" bw-theme="light" bw-cur="eur"></div>
            </div>
            <div class="price-item-live">
              <div class="btcwdgt-price"></div>
            </div>
            <div class="price-item-live">
              <div class="btcwdgt-price" bw-theme="light" bw-cur="jpy"></div>
            </div>
            <div class="price-item-live">
              <div class="btcwdgt-price" bw-cash="true"></div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- End Bitcoin Price statistic -->

  <!-- Start Counter Section -->
  <div
    class="stats-area stats-style-three text-center bg-2 bg-opacity-black-40 clearfix"
  >
    <div class="single-stats-item">
      <div class="stats-item-heading">
        <i class="fa fa-life-ring" aria-hidden="true"></i>
        <h4>Support Countries</h4>
      </div>
      <span class="counter">52</span>
    </div>
    <div class="single-stats-item">
      <div class="stats-item-heading">
        <i class="fa fa-hourglass-half" aria-hidden="true"></i>
        <h4>Running Days</h4>
      </div>
      <span class="counter">2693</span>
    </div>
    <div class="single-stats-item">
      <div class="stats-item-heading">
        <i class="fa fa-server" aria-hidden="true"></i>
        <h4>Servers</h4>
      </div>
      <span class="counter">15</span>
    </div>
    <div class="single-stats-item">
      <div class="stats-item-heading">
        <i class="fa fa-sitemap" aria-hidden="true"></i>
        <h4>Traders</h4>
      </div>
      <span class="counter"><!--87-->67362</span>
    </div>
  </div>
  <!-- End Counter Section -->
  <!-- Start Pricing Table -->
  <div id="price" class="content-section-area ptb-80">
    <div class="container">
      <div class="row">
        <div class="col-md-8 col-sm-8 col-md-offset-2 col-sm-offset-2">
          <div class="main-heading-content text-center">
            <h2>Our Investment <span>Packages</span></h2>
            <p>
              Our amazing packages are designed for all users of varying
              financial capabilities.
            </p>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-lg-4 col-md-4 col-sm-4">
          <div class="price-item b-shadow text-center">
            <div class="prising-head">
              <h4 class="plan-title">Starter Plan</h4>
            </div>
            <div class="prising-content">
              <div class="price-tage-wrapper">
                <h4 class="price-value">15<sub class="duration">%</sub></h4>
                <span>After 24 hours</span>
              </div>
              <ul class="table-content">
                <li><i class="fa fa-check"></i> Min. $20</li>
                <li><i class="fa fa-check"></i> Max. $999</li>
                <li><i class="fa fa-check"></i> 20% Referral Bonus</li>
                <li><i class="fa fa-check"></i> RIO after 24 hours</li>
                <li><i class="fa fa-check"></i> 24/7 Tech Support</li>
              </ul>
            </div>
            <div class="prising-footer">
              <a href="indexc30b.html?a=login" class="button-small"
                >Start Now</a
              >
            </div>
          </div>
        </div>

        <div class="col-lg-4 col-md-4 col-sm-4">
          <div class="price-item b-shadow text-center feature">
            <div class="prising-head">
              <h4 class="plan-title">Growth Plan</h4>
            </div>
            <div class="prising-content">
              <div class="price-tage-wrapper">
                <h4 class="price-value">20<sub class="duration">%</sub></h4>
                <span>After 48 hours</span>
              </div>
              <ul class="table-content">
                <li><i class="fa fa-check"></i> Min. $1000</li>
                <li><i class="fa fa-check"></i> Max. $4,999</li>
                <li><i class="fa fa-check"></i> 20% Referral Bonus</li>
                <li><i class="fa fa-check"></i> RIO after 48 hours</li>
                <li><i class="fa fa-check"></i> 24/7 Tech Support</li>
              </ul>
            </div>
            <div class="prising-footer">
              <a href="indexc30b.html?a=login" class="button-small active"
                >START NOW</a
              >
            </div>
          </div>
        </div>
        <div class="col-lg-4 col-md-4 col-sm-4">
          <div class="price-item b-shadow text-center">
            <div class="prising-head">
              <h4 class="plan-title">Standard Plan</h4>
            </div>
            <div class="prising-content">
              <div class="price-tage-wrapper">
                <h4 class="price-value">35<sub class="duration">%</sub></h4>
                <span>After 72 hours</span>
              </div>
              <ul class="table-content">
                <li><i class="fa fa-check"></i> Min. $5,000</li>
                <li><i class="fa fa-check"></i> Max. $9,999</li>
                <li><i class="fa fa-check"></i> 20% Referral Bonus</li>
                <li><i class="fa fa-check"></i> RIO after 72 hours</li>
                <li><i class="fa fa-check"></i> 24/7 Tech Support</li>
              </ul>
            </div>
            <div class="prising-footer">
              <a href="indexc30b.html?a=login" class="button-small"
                >START NOW</a
              >
            </div>
          </div>
        </div>
        <div class="col-lg-4 col-md-4 col-sm-4">
          <div class="price-item b-shadow text-center">
            <div class="prising-head">
              <h4 class="plan-title">Expert Plan</h4>
            </div>
            <div class="prising-content">
              <div class="price-tage-wrapper">
                <h4 class="price-value">50<sub class="duration">%</sub></h4>
                <span>After 96 hours</span>
              </div>
              <ul class="table-content">
                <li><i class="fa fa-check"></i> Min. $10,000</li>
                <li><i class="fa fa-check"></i> Max. $59,999</li>
                <li><i class="fa fa-check"></i> 20% Referral Bonus</li>
                <li><i class="fa fa-check"></i> RIO after 96 hours</li>
                <li><i class="fa fa-check"></i> 24/7 Tech Support</li>
              </ul>
            </div>
            <div class="prising-footer">
              <a href="indexc30b.html?a=login" class="button-small"
                >Start Now</a
              >
            </div>
          </div>
        </div>
        <div class="col-lg-4 col-md-4 col-sm-4">
          <div class="price-item b-shadow text-center feature">
            <div class="prising-head">
              <h4 class="plan-title">Eva Plan</h4>
            </div>
            <div class="prising-content">
              <div class="price-tage-wrapper">
                <h4 class="price-value">80<sub class="duration">%</sub></h4>
                <span>After 120 hours</span>
              </div>
              <ul class="table-content">
                <li><i class="fa fa-check"></i> Min. $60,000</li>
                <li><i class="fa fa-check"></i> Max. $99,999</li>
                <li><i class="fa fa-check"></i> 20% Referral Bonus</li>
                <li><i class="fa fa-check"></i> RIO after 120 hours</li>
                <li><i class="fa fa-check"></i> 24/7 Tech Support</li>
              </ul>
            </div>
            <div class="prising-footer">
              <a href="indexc30b.html?a=login" class="button-small active"
                >Start Now</a
              >
            </div>
          </div>
        </div>
        <div class="col-lg-4 col-md-4 col-sm-4">
          <div class="price-item b-shadow text-center">
            <div class="prising-head">
              <h4 class="plan-title">Turbo Plan</h4>
            </div>
            <div class="prising-content">
              <div class="price-tage-wrapper">
                <h4 class="price-value">150<sub class="duration">%</sub></h4>
                <span>After 1 week</span>
              </div>
              <ul class="table-content">
                <li><i class="fa fa-check"></i> Min. $100,000</li>
                <li><i class="fa fa-check"></i> Max. $NoLimit</li>
                <li><i class="fa fa-check"></i> 20% Referral Bonus</li>
                <li><i class="fa fa-check"></i> RIO after 1 week</li>
                <li><i class="fa fa-check"></i> 24/7 Tech Support</li>
              </ul>
            </div>
            <div class="prising-footer">
              <a href="indexc30b.html?a=login" class="button-small"
                >Start Now</a
              >
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- End Pricing Table -->
  <!-- Start testimonial Section -->
  <div class="call-to-action-section black-bg">
    <div class="container">
      <div class="row">
        <div class="col-md-8 col-sm-8">
          <div class="action-content">
            <span>Are you impressed with our creative work?</span>
            <h3>
              start investing with
              <span class="action-title">Earneasymoney.net</span>?
            </h3>
          </div>
        </div>
        <div class="col-md-4 col-sm-4">
          <div class="action-btn">
            <a href="indexc30b.html?a=login" class="button button-black"
              >Get Started</a
            >
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- End testimonial Section -->
  <!-- Start Latest Blog Area -->
  <div id="blog" class="content-section-area ptb-80 gray-bg">
    <div class="container">
      <div class="row">
        <div class="col-md-8 col-sm-8 col-md-offset-2 col-sm-offset-2">
          <div class="main-heading-content text-center">
            <h2>Essential <span>Benefits</span></h2>
            <p>
              We tend to put our investors first, to this, we have developed
              strategies to ensure you have maximum returns.
            </p>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="blog-wrapper">
          <div class="col-md-4 col-sm-6">
            <article class="blog-post">
              <div class="post-thumbnail">
                <a href="#">
                  <img
                    class="img-responsive"
                    src="/assets/home/img/blog/2.jpg"
                    alt=""
                  />
                  <i class="ti-plus"></i>
                </a>
                <div class="meta-info-date">
                  <a href="#" class="date-right">Withdrawal</a>
                </div>
              </div>
              <div class="post-content">
                <div class="post-content-inner">
                  <h3><a href="#">Steady Withdrawal.</a></h3>
                  <p>
                    Trade confidently, withdraw and make deposits at any time.
                    Withdrawals are never delayed.
                  </p>
                </div>
                <div class="meta-info">
                  <ul class="meta-admin">
                    <li>
                      <a href="indexc30b.html?a=login" class="admin-name">
                        <i class="fa fa-user"></i> Get Started</a
                      >
                    </li>
                  </ul>
                </div>
              </div>
            </article>
          </div>
          <div class="col-md-4 col-sm-6">
            <article class="blog-post">
              <div class="post-thumbnail">
                <a href="#">
                  <img
                    class="img-responsive"
                    src="/assets/home/img/blog/5.jpg"
                    alt=""
                  />
                  <i class="ti-plus"></i>
                </a>
                <div class="meta-info-date">
                  <a href="#" class="date-right">Profit</a>
                </div>
              </div>
              <div class="post-content">
                <div class="post-content-inner">
                  <h3><a href="#">Your Profit Assured</a></h3>
                  <p>
                    At an amazing interest rate, you are guaranteed to go home
                    with the maximum possible profit.
                  </p>
                </div>
                <div class="meta-info">
                  <ul class="meta-admin">
                    <li>
                      <a href="indexc30b.html?a=login" class="admin-name">
                        <i class="fa fa-user"></i> Get Started</a
                      >
                    </li>
                  </ul>
                </div>
              </div>
            </article>
          </div>
          <div class="col-md-4 col-sm-6 hidden-sm">
            <article class="blog-post">
              <div class="post-thumbnail">
                <a href="#">
                  <img
                    class="img-responsive"
                    src="/assets/home/img/blog/6.jpg"
                    alt=""
                  />
                  <i class="ti-plus"></i>
                </a>
                <div class="meta-info-date">
                  <a href="#" class="date-right">Multi Coin</a>
                </div>
              </div>
              <div class="post-content">
                <div class="post-content-inner">
                  <h3><a href="#">Single Coin Options</a></h3>
                  <p>
                    We provide a platform that makes you to focus on the most
                    popular coin and make the best out of it.
                  </p>
                </div>
                <div class="meta-info">
                  <ul class="meta-admin">
                    <li>
                      <a href="indexc30b.html?a=login" class="admin-name">
                        <i class="fa fa-user"></i> Get Started</a
                      >
                    </li>
                  </ul>
                </div>
              </div>
            </article>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- -->

  <!-- -->
  <!-- End Latest Blog Area -->

  <!-- Start contact section -->
  <div class="content-section-area ptb-80 bg-7 bg-opacity-black-70">
    <div class="container">
      <div class="row">
        <div class="col-md-4 col-sm-4">
          <div class="contact-pic">
            <img src="/assets/home/img/about/3.html" alt="" />
          </div>
        </div>
        <div class="col-sm-8 col-md-8">
          <div class="contact-form-wrapper-two">
            <div class="main-heading-content use-bg">
              <h2>Online <span>Question</span> Form</h2>
              <p>
                Want to contact our support team for a quick response? Fill the
                form right away and we could get right back.
              </p>
            </div>
            <div class="contact-form">
              <form method="post" name="mainform" onsubmit="return checkform()">
                <input
                  type="hidden"
                  name="form_id"
                  value="16614416315961"
                /><input
                  type="hidden"
                  name="form_token"
                  value="9e2c7a2d313dd97d79e50e7342d7b14f"
                />
                <input type="hidden" name="a" value="support" />
                <input type="hidden" name="action" value="send" />

                <div class="form-50">
                  <input
                    type="text"
                    required=""
                    placeholder="Your Name*"
                    name="name"
                    class="form-control"
                  />
                </div>
                <div class="form-50">
                  <input
                    type="email"
                    required=""
                    placeholder="Email Address*"
                    name="email"
                    class="form-control"
                  />
                </div>
                <div class="form-50">
                  <input
                    type="url"
                    required=""
                    placeholder="Your Website*"
                    name="website"
                    class="form-control"
                  />
                </div>
                <div class="form-50">
                  <input
                    type="text"
                    required=""
                    placeholder="Topic*"
                    name="website"
                    class="form-control"
                  />
                </div>
                <textarea
                  placeholder="Write Message*"
                  rows="2"
                  cols="30"
                  name="message"
                ></textarea>
                <button
                  type="submit"
                  class="button active button-fullwidth form-btn"
                >
                  SEND MESSAGE
                </button>
                <p class="contact-me-send-message"></p>
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- Start contact section -->
  <!-- Start Client Section -->
  <div class="content-section-area ptb-80 gray-bg">
    <div class="container">
      <div class="row">
        <div class="client-wrapper">
          <div class="col-md-2">
            <div class="clirnt-item">
              <a href="#"
                ><img src="/assets/home/img/client/logo2.png" alt=""
              /></a>
            </div>
          </div>
          <div class="col-md-2">
            <div class="clirnt-item">
              <a href="#"
                ><img src="/assets/home/img/client/logo3.png" alt=""
              /></a>
            </div>
          </div>
          <div class="col-md-2">
            <div class="clirnt-item">
              <a href="#"
                ><img src="/assets/home/img/client/logo6.jpg" alt=""
              /></a>
            </div>
          </div>
          <div class="col-md-2">
            <div class="clirnt-item">
              <a href="#"
                ><img src="/assets/home/img/client/logo2.png" alt=""
              /></a>
            </div>
          </div>
          <div class="col-md-2">
            <div class="clirnt-item">
              <a href="#"
                ><img src="/assets/home/img/client/logo3.jpg" alt=""
              /></a>
            </div>
          </div>
          <div class="col-md-2">
            <div class="clirnt-item">
              <a href="#"
                ><img src="/assets/home/img/client/logo6.jpg" alt=""
              /></a>
            </div>
          </div>
          <div class="col-md-2">
            <div class="clirnt-item">
              <a href="#"
                ><img src="/assets/home/img/client/logo2.png" alt=""
              /></a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- end Client Section -->
</div>
{% endblock content %}
