{% extends "home/layout.html" %}
<!--title-->
{% block title %} Investment Packages {% endblock title %} {% block banner %}

<!-- Start Banner Area -->
<div class="banner-area banner-bg-1 ptb-100 bg-opacity-black-60">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <div class="banner">
          <h2>Our Packages</h2>
          <ul class="page-title-link">
            <li><a href="indexbc14.html?a=home">Home</a></li>
            <li><a href="#">Pricing Table</a></li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- End Banner Area -->

{% endblock banner %} {% block content %}
<!-- Start Main Content Wrapper -->
<div class="main-content-wrapper">
  <!-- Start Pricing Table -->
  <div id="price" class="content-section-area ptb-80">
    <div class="container">
      <div class="row">
        <div class="col-md-8 col-sm-8 col-md-offset-2 col-sm-offset-2">
          <div class="main-heading-content text-center">
            <h2>Our Investment <span>Packages</span></h2>
            <p>
              Our amazing packages are designed for all users of varying
              financial capabilities.
            </p>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-lg-4 col-md-4 col-sm-4">
          <div class="price-item b-shadow text-center">
            <div class="prising-head">
              <h4 class="plan-title">Basic Plan</h4>
            </div>
            <div class="prising-content">
              <div class="price-tage-wrapper">
                <h4 class="price-value">20<sub class="duration">%</sub></h4>
                <span>After 24 hours</span>
              </div>
              <ul class="table-content">
                <li><i class="fa fa-check"></i> Min. $20</li>
                <li><i class="fa fa-check"></i> Max. $499</li>
                <li><i class="fa fa-check"></i> 5% Referral Bonus</li>
                <li><i class="fa fa-check"></i> RIO after 24 hours</li>
                <li><i class="fa fa-check"></i> 24/7 Tech Support</li>
              </ul>
            </div>
            <div class="prising-footer">
              <a href="https://app.earneasymoney.net/login" class="button-small"
                >Start Now</a
              >
            </div>
          </div>
        </div>

        <div class="col-lg-4 col-md-4 col-sm-4">
          <div class="price-item b-shadow text-center feature">
            <div class="prising-head">
              <h4 class="plan-title">Gold Plan</h4>
            </div>
            <div class="prising-content">
              <div class="price-tage-wrapper">
                <h4 class="price-value">40<sub class="duration">%</sub></h4>
                <span>After 24 hours</span>
              </div>
              <ul class="table-content">
                <li><i class="fa fa-check"></i> Min. $500</li>
                <li><i class="fa fa-check"></i> Max. $999</li>
                <li><i class="fa fa-check"></i> 10% Referral Bonus</li>
                <li><i class="fa fa-check"></i> RIO after 24 hours</li>
                <li><i class="fa fa-check"></i> 24/7 Tech Support</li>
              </ul>
            </div>
            <div class="prising-footer">
              <a
                href="https://app.earneasymoney.net/login"
                class="button-small active"
                >START NOW</a
              >
            </div>
          </div>
        </div>
        <div class="col-lg-4 col-md-4 col-sm-4">
          <div class="price-item b-shadow text-center">
            <div class="prising-head">
              <h4 class="plan-title">Master Plan</h4>
            </div>
            <div class="prising-content">
              <div class="price-tage-wrapper">
                <h4 class="price-value">60<sub class="duration">%</sub></h4>
                <span>After 48 hours</span>
              </div>
              <ul class="table-content">
                <li><i class="fa fa-check"></i> Min. $1000</li>
                <li><i class="fa fa-check"></i> Max. $1,999</li>
                <li><i class="fa fa-check"></i> 15% Referral Bonus</li>
                <li><i class="fa fa-check"></i> RIO after 48 hours</li>
                <li><i class="fa fa-check"></i> 24/7 Tech Support</li>
              </ul>
            </div>
            <div class="prising-footer">
              <a href="https://app.earneasymoney.net/login" class="button-small"
                >START NOW</a
              >
            </div>
          </div>
        </div>
        <div class="col-lg-4 col-md-4 col-sm-4">
          <div class="price-item b-shadow text-center">
            <div class="prising-head">
              <h4 class="plan-title">Premium Plan</h4>
            </div>
            <div class="prising-content">
              <div class="price-tage-wrapper">
                <h4 class="price-value">80<sub class="duration">%</sub></h4>
                <span>After 72 hours</span>
              </div>
              <ul class="table-content">
                <li><i class="fa fa-check"></i> Min. $2,000</li>
                <li><i class="fa fa-check"></i> Max. $2,999</li>
                <li><i class="fa fa-check"></i> 20% Referral Bonus</li>
                <li><i class="fa fa-check"></i> RIO after 72 hours</li>
                <li><i class="fa fa-check"></i> 24/7 Tech Support</li>
              </ul>
            </div>
            <div class="prising-footer">
              <a href="https://app.earneasymoney.net/login" class="button-small"
                >Start Now</a
              >
            </div>
          </div>
        </div>
        <div class="col-lg-4 col-md-4 col-sm-4">
          <div class="price-item b-shadow text-center feature">
            <div class="prising-head">
              <h4 class="plan-title">Ruby Plan</h4>
            </div>
            <div class="prising-content">
              <div class="price-tage-wrapper">
                <h4 class="price-value">100<sub class="duration">%</sub></h4>
                <span>After 4 days</span>
              </div>
              <ul class="table-content">
                <li><i class="fa fa-check"></i> Min. $3,000</li>
                <li><i class="fa fa-check"></i> Max. $5,000</li>
                <li><i class="fa fa-check"></i> 25% Referral Bonus</li>
                <li><i class="fa fa-check"></i> RIO after 4 days</li>
                <li><i class="fa fa-check"></i> 24/7 Tech Support</li>
              </ul>
            </div>
            <div class="prising-footer">
              <a
                href="https://app.earneasymoney.net/login"
                class="button-small active"
                >Start Now</a
              >
            </div>
          </div>
        </div>
        <div class="col-lg-4 col-md-4 col-sm-4">
          <div class="price-item b-shadow text-center">
            <div class="prising-head">
              <h4 class="plan-title">Turbo Plan</h4>
            </div>
            <div class="prising-content">
              <div class="price-tage-wrapper">
                <h4 class="price-value">150<sub class="duration">%</sub></h4>
                <span>After 1 week</span>
              </div>
              <ul class="table-content">
                <li><i class="fa fa-check"></i> Min. $10,000</li>
                <li><i class="fa fa-check"></i> Max. $NoLimit</li>
                <li><i class="fa fa-check"></i> 20% Referral Bonus</li>
                <li><i class="fa fa-check"></i> RIO after 1 week</li>
                <li><i class="fa fa-check"></i> 24/7 Tech Support</li>
              </ul>
            </div>
            <div class="prising-footer">
              <a href="https://app.earneasymoney.net/login" class="button-small"
                >Start Now</a
              >
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- End Pricing Table -->
  <!-- Start Client Section -->
  <div class="content-section-area ptb-80 gray-bg">
    <div class="container">
      <div class="row">
        <div class="client-wrapper">
          <div class="col-md-2">
            <div class="clirnt-item">
              <a href="#"
                ><img src="/assets/home/img/client/logo2.png" alt=""
              /></a>
            </div>
          </div>
          <div class="col-md-2">
            <div class="clirnt-item">
              <a href="#"
                ><img src="/assets/home/img/client/logo3.png" alt=""
              /></a>
            </div>
          </div>
          <div class="col-md-2">
            <div class="clirnt-item">
              <a href="#"
                ><img src="/assets/home/img/client/logo6.jpg" alt=""
              /></a>
            </div>
          </div>
          <div class="col-md-2">
            <div class="clirnt-item">
              <a href="#"
                ><img src="/assets/home/img/client/logo2.png" alt=""
              /></a>
            </div>
          </div>
          <div class="col-md-2">
            <div class="clirnt-item">
              <a href="#"
                ><img src="/assets/home/img/client/logo3.jpg" alt=""
              /></a>
            </div>
          </div>
          <div class="col-md-2">
            <div class="clirnt-item">
              <a href="#"
                ><img src="/assets/home/img/client/logo6.jpg" alt=""
              /></a>
            </div>
          </div>
          <div class="col-md-2">
            <div class="clirnt-item">
              <a href="#"
                ><img src="/assets/home/img/client/logo2.png" alt=""
              /></a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- end Client Section -->
</div>

{% endblock content %}
